{% extends 'base.html.twig' %}

{% block title %}Nouvelle Agence{% endblock %}

{% block body %}
    <h1>Créer une nouvelle agence</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('agency_index') }}">Retour à la liste</a>
{% endblock %}